* {
    margin:0;
    padding: 0px;
    box-sizing : border-box
}

body{
    font-family : 'Roboto';
    background-color: #ebebeb;
    

}


.buscador{
    display: flex;
    max-width: 400px ; /* Ajusta el ancho máximo según tus necesidades */
    margin:auto; /* Centra el contenedor en la pantalla */

}

#site-search {
    flex: 1; /* Hace que el input ocupe todo el espacio disponible */
    padding: 10px;
    border: none;
    border-radius: 5%;

    
}

button {
    padding: 8px;
    background-color: #fff;
    color: #666666;
    border: none;
    border-radius: 5%;
    cursor: pointer;

}


  .main-header-top-bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
  }

p{
    font-size: 16px;
}

.p-footer {
    padding: 15px;
}

.titulares{
    font-size: 24px;   
    margin: 15px; 
}

.precio{

    font-size: 18px;
    margin: 2px;
    width: 30%;
    font-weight: 250;
}

.descuento{
    font-size: 16px;
    color: #39b54a; 
    margin: 2px;
    width: 70%;
}

.descripciones{
    font-size: 16px;
    display: block;
    margin: 5px;
}

.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:#39b54a;
}

.caja-producto{
    position: relative;
    text-align: left;
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 5px;
    padding-top: 15px;
}

.caja-producto{
    display:flex;
    justify-content: space-between; 
}


.main-header {
    background-color: #EAC926;
    padding: 20px 0px 0px;
    

}

.logo {
    width: 40vw;
}

.copy-header{
    font-weight: 400;   
    text-align: center;
    margin: 15px;
    width: 80vw;

}   

.burger-menu{
    background-color: #03264C;
    color: #ffffff;
    display: none;
    width: 50px;
    padding : 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;

}

.main-header-bottom-bar ul{
    list-style: none;
    margin:0;
    padding: 0;       

}



.main-header-bottom-bar a{
    text-decoration: none;
    color: #666666;
    display: inline-block;
    padding: 5px;
    font-size: 17px;
    
}


footer{
    text-align: center;
}

.credit-card, .gift, .security{
    display: block;
    font-size: 2em;
}
.banner{
    width: 100%;
  
    
}

main {
    margin: 0 auto;
    width: 90vw;  
     
    
}

.producto1, .producto2, .producto3, .producto4{
    border-top: 1px solid #ebebeb;
    padding: 0px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display:inline-block;

}

.img{
    width: 90%;
    
} 

.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.credit-card:hover, .gift:hover, .security:hover{
    color:#39b54a;
} 

@media (min-width:100px){
   
    .descripciones{ 
        display:none;      
    }   
    .burger-menu{
        display: block;
    }
    .main-header-bottom-bar ul{ 
        display: none;
    }   
    
    /*input {
        margin:1rem 0; 
        width: 80%; 
        position: relative;
        border-radius: 5px;
        border: none;
        background-color: #ebebeb;
        padding: 10px;
        
      }

    .lupa{
        display:block;
        position: absolute;
        color: black;
        margin: -30px;
        margin-right:250px;
        margin-top: -12px;
        padding-left:30px;
        padding-right: 15px;
        
      } 

    .buscador{
        display:flex;
        align-items: center;
        justify-content: center;
        position:relative;
    }*/

    .main{
        
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    
    .producto1, .producto2, .producto3, .producto4{
        max-width: 80%;
        padding: 10px;
    }
   


}

@media (min-width:361px) {
    .producto1, .producto2, .producto3, .producto4{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: block;
    } 
    .main-header-bottom-bar{
        display:none;
    }
    
    .main-header-bottom-bar {
        display:none;
        justify-content: space-between;
    }

    .main-header-bottom-bar ul{
        display: none;
        justify-content: space-between;
    }
    .main-header-bottom-bar ul li{
        margin: 2px;
    }
    .logo{
        width: 35vw;
        margin:15px;
        margin-left: 0px;
    }
    /*
    input {
        margin: 0;
        margin-right: 15px;
        width: 80%; 
        position: relative;
        border-radius: 5px;
        border: none;
        background-color: #ebebeb;
        padding: 10px;
        
      }

    .lupa{
        display:block;
        position: absolute;
        color: black;
        margin: -30px;
        margin-right:40px;
        margin-top: 4px;
        padding-left:20vw;
        padding-right: 0px;
        
      } 

    .buscador{
        display:flex;
        align-items: center;
        justify-content: center;
        position:relative;
        margin-left: 15px;
    }
    */
   
    .main-header-top-bar{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .copy-header{

        font-size: 16px;
        text-align: center;
        
    }

    .main{
        
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    
    .producto1, .producto2, .producto3, .producto4{
        max-width: 80%;
        padding: 10px;
    }
   

}  


@media(min-width:769px) and (max-width: 1200px){
    .producto1, .producto2, .producto3, .producto4{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    .main-header-bottom-bar {
        display:flex;
        justify-content: space-between;
    }

    .main-header-bottom-bar ul{
        display: flex;
        justify-content: space-between;
    }
    .main-header-bottom-bar ul li{
        margin: 2px;
    }

    .logo{
        width: 30vw;
        margin:10px;
    }
    /*
    input {
        margin: 0;
        margin-right: 15px;
        width: 90%; 
        position: relative;
        border-radius: 5px;
        border: none;
        background-color: #ebebeb;
        padding: 10px;
        
      }

    .lupa{
        display:block;  
        position: absolute;
        color: black;
        margin: -15px;
        margin-right:10px;
        margin-top: 4px;
        padding-left:0px;
        padding-right:10px;
        
      } 

    .buscador{
        display:flex;   
        align-items: center;
        justify-content: center;
        position:relative;
        margin-left: 15px;
    }
    */

    .main-header-top-bar{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .copy-header{
        font-size: 18px;
    }
    .main{
    
        display: flex;  
        flex-flow: wrap;
        justify-content: center;   
        align-items:center;
    }
    
    .producto1, .producto2, .producto3, .producto4{
        max-width: 45%;
        padding: 10px;
    }

    .producto1:hover, .producto2:hover, .producto3:hover, .producto4:hover{
        box-shadow: 0px 0px 25px rgb(40, 40, 40);
        .descripciones{
            display:block;
            
        }
    
    }  
}  

  


@media (min-width:1201px){
    .producto1, .producto2, .producto3, .producto4{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    .main-header-bottom-bar {
        display:flex;
        justify-content: space-between;
    }

    .main-header-bottom-bar ul{
        display: flex;
        justify-content: space-between;
    }
    .main-header-bottom-bar ul li{
        margin: 2px;
    }

    .logo{
        width: 30vw;
        margin:15px;
    }
    /*
input {
        margin: 0;
        margin-right: 15px;
        max-width: 100%; 
    
        position: relative;
        border-radius: 5px;
        border: none;
        background-color: #ebebeb;
        padding: 10px;
        
      }

    .lupa{
        display:block;  
        position: absolute;
        color: black;
        margin: -15px;
        margin-right:10px;
        margin-top: 4px;
        padding-left:0px;
        padding-right:10px;
        
      } 

    .buscador{
        display:flex;   
        align-items: center;
        justify-content: center;
        position:relative;
        margin-left: 15px;
        
    }*/
    .main-header-top-bar{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .copy-header{
        font-size: 18px;
        margin:auto;
        margin-right: 30px;
        text-align: right;
    }
    .main{
    
        display: flex;  
        flex-flow: wrap;
        justify-content: center;   
        align-items:center;
    }
    
    .producto1, .producto2, .producto3, .producto4{
        max-width: 23%;
        padding: 10px;
    }

    .producto1:hover, .producto2:hover, .producto3:hover, .producto4:hover{
        box-shadow: 0px 0px 25px rgb(40, 40, 40);
        .descripciones{
            display:block;
            
        }
        .fa-truck{
            background-color: red;
            transform:rotate(-90deg);
            transition: all, 2s;
           
        }
    
    }
} 


